PORT=8080
HOSTNAME='192.168.116.130'
# NODE_ENV='dev'
NODE_ENV='production'
SECRET="jx06PQBq7gD2xz0bjAew/U/1DXwb0YcgLBQqy5PUunR+TLmGafp6eDtJE5L7aUOb"
DATABASE_URL=""
POSTGRES_DB=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""
PGADMIN_DEFAULT_EMAIL="example@email.com"
PGADMIN_DEFAULT_PASSWORD="examplepass"
PGADMIN_PORT=9090
