PORT=3000
HOSTNAME='localhost'
NODE_ENV='dev'
# NODE_ENV='production'
SECRET="jx06PQBq7gD2xz0bjAew/U/1DXwb0YcgLBQqy5PUunR+TLmGafp6eDtJE5L7aUOb"

DATABASE_URL="postgresql://dev:devpass@localhost:5432/meetingdb?schema=public"
POSTGRES_DB="meetingdb"
POSTGRES_USER="dev"
POSTGRES_PASSWORD="devpass"
PGADMIN_DEFAULT_EMAIL="example@email.com"
PGADMIN_DEFAULT_PASSWORD="examplepass"
PGADMIN_PORT=9090
